.ui-sortable-placeholder {
  visibility: visible !important;
  height: auto; }
  .ui-sortable-placeholder:after {
    content: '';
    display: block;
    width: 100%;
    opacity: .3;
    background: #9c9c0a;
    padding-bottom: 66%; }
